/*
Name: HiroRat
Author: Valeriia Omelianenko
Version: 1.1.0
Contact: jovanovicluka399@gmail.com
File: Icons Css File
*/

// Icons Scss
@import "plugins/icons/materialdesignicons";
@import "plugins/icons/boxicons";
@import "plugins/icons/remixicon";
@import "plugins/icons/bootstrap-icons";
@import "plugins/icons/phosphor";
